name: Build and Push Minimal Docker Image

on:
  push:
    branches:
      - main  # 仅当代码推送到 main 分支时触发

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 设置交叉编译环境（支持一次性打包普通服务器和ARM架构服务器的镜像）
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 登录 Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 构建并极简推送 (强制 tags 为 latest)
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 自动构建 amd64 和 arm64 双架构
          platforms: linux/amd64,linux/arm64
          # 核心修改：不再自动提取版本号，强制只生成和覆盖 latest 标签
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hot-apis:latest
